@use "../variables";

.card {
  position: relative;
  opacity: 0.9;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: variables.$question-background;
  box-shadow: 0 10px 15px 0 variables.$question-shadow;
  margin-bottom: 15px;
  min-width: 200px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: variables.$question-text;
}

.highlight {
  color: variables.$question-highlight;
  position: absolute;
  left: 20px;
  text-transform: uppercase;
}

.highlightAlt {
  color: variables.$question-highlight-alt;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.question {
  position: relative;
  font-family: "Rancho", serif;
  font-size: 4rem;
  margin: 0;
}

.red_q {
  color: variables.$red;
}

.green_q {
  color: variables.$green;
}

.blue_q {
  color: variables.$blue;
}

.yellow_q {
  color: variables.$yellow;
}

.purple_q {
  color: variables.$purple;
}

.pink_q {
  color: variables.$pink;
}

.orange_q {
  color: variables.$orange;
}
