@import '../variables';
@import url('https://fonts.googleapis.com/css?family=Rancho:400');

.card {
  position: relative;
  opacity: 0.9;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: $question-background;
  box-shadow: 0 10px 15px 0 $question-shadow;
  margin-bottom: 15px;
  min-width: 200px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: $question-text;
}

.highlight {
  color: $question-highlight;
  position: absolute;
  left: 20px;
  text-transform: uppercase;
}

.highlightAlt {
  color: $question-highlight-alt;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.question {
  position: relative;
  font-family: 'Rancho', serif;
  font-size: 4rem;
  margin: 0;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.purple {
  color: $purple;
}

.pink {
  color: $pink;
}

.orange {
  color: $orange;
}
