@import "../variables";

.body {
  background-color: $body-background;
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: $body-text;
  font-family: "Gudea", sans-serif;
}

.title {
  font-family: serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.footer {
  opacity: 0.9;
  text-align: center;
}

.smallCard {
  transform: scale(0.7);
  opacity: 0.75;
}

.score {
  margin: 5px 0 10px;
  text-align: right;
}

.finalScore {
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.scoreboardlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  font-size: large;
}

.record {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: 1.5rem;
  padding-top: 0.25rem;

  & span {
    min-width: 30%;
    text-align: center;
  }
}
