$white: #f1f4ff;
$black: #000;
$shadow-1: rgba($black, 0.1);
$shadow-4: rgba($black, 0.4);
$light-grey: #f1f4ff;
$light-grey-2: #e2e6f6;
$grey: #383b4a;
$grey-1: #565a66;
$grey-2: #383b4a;
$grey-3: #1b1d27;
$red: #fd1f2f;
$red-2: #b9000e;
$green: #1bdd70;
$green-2: #009a43;
$blue: #2d82e8;
$blue-2: #0835a5;
$yellow: #ffe21f;
$yellow-2: #a28d00;
$purple: purple;
$pink: pink;
$orange: orange;
$body-background: $grey;
$body-text: $light-grey-2;
$primary-button-background: $green;
$primary-button-text: $white;
$primary-button-box-shadow: $green-2;
$subtle-button-backgorund: $grey-1;
$subtle-button-text: $white;
$countdown-background: $green;
$countdown-shadow: $shadow-1;
$question-highlight: $light-grey;
$question-highlight-alt: $light-grey;
$question-text: $grey-1;
$question-background: $grey-3;
$question-shadow: $shadow-4;
